name: Ruff

on:
  pull_request:
  push:

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Ruff
        run: |
          python -m pip install -U pip
          pip install ruff

      - name: Run Ruff
        run: |
          ruff check .